@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  @apply text-7xl font-raleway font-bold;
}

p {
  @apply font-roboto text-base;
}

.basket-badge {
  @apply badge bg-orange-500 border-orange-500 text-white;
}

.product-badge {
  @apply badge border-2 border-orange-500 rounded-none bg-transparent flex justify-center items-center text-white font-raleway text-xs;
}

.gradient-bg {
  @apply bg-gradient-to-r from-happy-memories-l to-happy-memories-r;
}

.btn-rounded {
  @apply w-10 h-10 rounded-full bg-orange-500 disabled:bg-orange-400 hover:bg-orange-600;
}

.button-border {
  @apply border-2 border-orange-500 px-4 py-1 rounded-lg font-raleway font-semibold text-base hover:bg-orange-500 hover:text-white;
}
